name: CI - Build + SAST + DAST

on:
  push:
    branches: [ main ]
  pull_request:
  repository_dispatch:
    types: [run-security]

jobs:

 

  # ===============================
  # Build Docker + DAST (ZAP)
  # ===============================
  build-and-dast:
    name: Build image and run DAST (OWASP ZAP)
    runs-on: ubuntu-latest
    needs: sast

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t calculator:ci .

      - name: Run app container
        run: |
          docker run -d --name calc-ci -p 8000:5000 calculator:ci
          sleep 5

      - name: Check if app is running
        run: |
          for i in {1..10}; do
            if curl -sSf http://localhost:8000/ >/dev/null; then
              echo "App is UP"
              exit 0
            fi
            echo "Waiting for app..."
            sleep 2
          done
          echo "App did NOT start"
          exit 1

      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.14.0
        with:
          target: "http://localhost:8000"
          fail_action: false
          allow_issue_writing: false
          cmd_options: "-a"

      - name: Stop and remove container
        if: always()
        run: |
          docker stop calc-ci || true
          docker rm calc-ci || true
